*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #32a790;
}

.squares{
    border: 100px solid rgb(218, 110, 110);
    position: fixed;
    transform: translate(-50%,-50%) rotate(0deg);
    animation: 20s ease-in-out infinite;
}